<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testmad">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".splash">

        </activity>
        <activity android:name=".addhotel" />
        <activity android:name=".adddata" />
        <activity android:name=".logout" />
        <activity android:name=".promos" />
        <activity android:name=".users" />
        <activity android:name=".home1" />
        <activity android:name=".Home" />
        <activity android:name=".MainActivity" />


        <activity android:name=".ImagesActivity" />
        <activity android:name=".Login" />
        <activity android:name=".Register" />
        <activity android:name=".Travel_Package" />
        <activity android:name=".Traveller_Details" />
        <activity android:name=".Add_Travel_Package" />

        <!--IT19036076-->
        <activity android:name=".hotelMenu"/>
        <activity android:name=".testAdd" />
        <activity android:name=".AdminHotelActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
    </application>

</manifest>